@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --konbit-primary: #10B981;
  --konbit-dark: #064E3B;
  --konbit-light: #F0FDF4;
}

body {
  background-color: var(--konbit-light);
  color: #0f172a;
}