/* Nou chanje idantite vizyèl la pou Konbit Agro */
[data-md-color-primary="konbit"] {
  --md-primary-fg-color: #10B981; /* Vèt Emerald nou an */
  --md-primary-fg-color--light: #34D399;
  --md-primary-fg-color--dark: #059669;
  --md-primary-bg-color: hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

[data-md-color-primary="black"] {
  --md-primary-fg-color: #181818;
  --md-primary-fg-color--light: #10B981;
  --md-primary-fg-color--dark: #059669;
  --md-primary-bg-color: #10B981;
}

[data-md-color-accent="konbit-green"] {
  --md-accent-fg-color: #059669;
  --md-accent-fg-color--transparent: rgba(16, 185, 129, 0.1);
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #ffffffb3;
}

[data-md-color-scheme="slate"][data-md-color-primary="black"] {
  --md-typeset-a-color: #10B981;
}

[data-md-color-scheme="default"] {
  /* Default light mode styling */
}

[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #10B981;
  /* Dark mode styling */
}

/* Konbit logo css styling pou footer a */
.md-footer-konbit {
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
}

.md-footer-konbit img {
  height: 24px;
  width: auto;
  transition: opacity 0.25s;
  opacity: 0.8;
}

.md-footer-konbit img:hover {
  opacity: 1;
}

/* Distribisyon eleman nan footer a */
.md-footer-meta__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Kontwòl pou mobil pou logo ak rezo sosyal yo pa pile sou lòt */
@media screen and (max-width: 76.234375em) {
  .md-footer-meta__inner.md-grid {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .md-copyright,
  .md-social {
    width: auto;
    max-width: 49%;
  }

  .md-social {
    margin: 0;
  }
}

.grid.cards h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.konbit-icon {
  color: #10B981;
  opacity: 0.8;
  margin-right: 0.2em;
}